.DS_Store
__pycache__
*.egg-info
.venv
MUJOCO_LOG.TXT
mujoco_menagerie
checkpoints/
logs
uv.lock
.zed/
wandb/
learning/queues/
*.mp4
.claude/worktrees/
.claude/cache/
*.png
.vscode/*
experimentation/*.csv
experimentation/*.ipynb